<h2>Log In</h2>
<p id="alert"><%= alert %></p>

<div class="form-container">
  <div class="form-input">
    <%= form_tag sessions_path do %>
      <div class="field-login">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="field-login">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <br>
      <br>
      <div class="actions"><%= submit_tag "Log In" %></div>
    <% end %>