<p id="notice"><%= notice %></p>

<h1>Products</h1>
 
<table class="products-grid">
  <thead>
    <tr class="product-header">
      <th>Style Name</th>
      <th>SKU</th>
      <th>Color</th>
      <th>Price Per Unit</th>
      <th>Price Per Pack</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr class="products-info">
        <td><%= product.style_name %></td>
        <td><%= product.sku %></td>
        <td><%= product.color %></td>
        <td>$<%= product.price_per_unit %></td>
        <td>$<%= product.price_per_pack %></td>
        <td><%= image_tag product.image.url(:thumb) %></td>
        <td><%= link_to 'View', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure you want to delete this product?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <div class=products-grid-div>
    <% @products.each do |product| %>
      <div class="products-header-div">
        <div><%= image_tag product.image.url(:medium) %></div>
        <div>Style Name: <%= product.style_name %></div>
        <div>SKU: <%= product.sku %></div>
        <div>Color: <%= product.color %></div>
        <div>Price Per Unit: $<%= product.price_per_unit %></div>
        <div>Price Per Pack: $<%= product.price_per_pack %></div><br>
        <div class="actions"><%= link_to 'View', product %> // <%= link_to 'Edit', edit_product_path(product) %> // <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure you want to delete this product?' } %></div>
        <div class="actions"><%= submit_tag 'Add To Cart' %></div><br>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'Create New Product', new_product_path %>
