<p id="notice"><%= notice %></p>

<p>
  <strong>Style Name:</strong>
  <%= @product.style_name %>
</p>

<p>
  <strong>SKU:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<p>
  <strong>Price Per Unit: $</strong>
  <%= @product.price_per_unit %>
</p>

<p>
  <strong>Price Per Pack: $</strong>
  <%= @product.price_per_pack %>
</p>

<p>
  <strong>Product Image:</strong><br>
  <%= image_tag @product.image.url(:medium) %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
