<!DOCTYPE html>
<html>
  <head>
    <title>Linesheets</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <% if request.ssl? %>
      <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
      <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
      <% else %>
      <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
      <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
      <% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <div class="row">          
        <h2><%= link_to "Linesheets", root_path %></h2>
      <div class="nav-wrapper">
        <p>
            <% if current_user %>
              Welcome, <%= current_user.name %>
              &nbsp;&nbsp;|&nbsp;&nbsp;
              <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
              <br>
              <br>
              <%= link_to 'Create New Product', new_product_path %>
            <% else %>
              <%= link_to 'Log In', login_path %> |
              <%= link_to 'Sign Up', new_user_path %>
            <% end %>
          </p>
          <p><%= render 'layouts/cart_text' %></p>
          </div>
      </div>
  </div>
  <hr>
  <br>
  <br>
  <%= yield %>
    <hr>
    <div class="footer">
    <p>Created by <%= link_to 'Linesheets', about_path %></p>
    <p>Copyright © 2017 LNST, LLC. All Rights Reserved</p>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>